<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Connection Pool과 Mapper 설정을 스프링이 다 빼앗아 가고 Alias 설정 하나 남았다. (이건 스프링이 안빼앗아감) -->
	<typeAliases>
		<typeAlias type="user.bean.UserDTO" alias="user" />
	</typeAliases>
	
	<!-- 
	<mappers>
		<mapper resource="user/dao/userMapper.xml"/>
	</mappers> -->
</configuration>